*{margin:0;padding:0;box-sizing: border-box}
*::before, *::after{margin:0;padding:0;box-sizing: border-box}

@keyframes circle{
    0% {
        transform:rotate(0deg)
    }
    100% {
        transform:rotate(360deg)
    }
}
.page{
    display: flex;
    flex-direction: column;
    width:100vw;
    height:100vh;
    background: transparent url(../images/cover_blur01) no-repeat center;
    background-size: cover;
    overflow-x: hidden;
    font-family: Helvetica, sans-serif;
}

.disc-container{
    position: relative;
    background-color: rgba(0,0,0,0.2)
}
.disc-container .disc{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vw;
}

.disc-container  .pointer{
    width: 25.6vw;
    position: absolute;
    left:36%;
    top:0px;
}

.disc-container  .ring{
    width: 75vw;
}

.disc-container  .light{
    position: absolute;
    width: 75vw;

}
.disc-container .icon{
    width: 10vw;
    height: 10vw;
}
.disc-container .icon-play{
    transform: translateX(2px)
}
.disc-container .icon-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 15vw;
    background:rgba(0,0,0,0.2);
    border:1px solid #fff;
    border-radius:50%;
}
.disc-container .icon-pause{
    display:none;
}
.disc-container.playing .icon-pause{
    display:block
}
.disc-container.playing .icon-play{
    display:none;
}
.disc-container .icon-wrapper{
    position: absolute;
    z-index:1;
    display: flex;
    justify-content: center;
    align-content: center;
}
.disc-container  .cover{
    width:46.2vw;
    position: absolute;
    border-radius:50%;
    display:block;
   
}
.disc-container.playing .light,.disc-container.playing .cover{
    animation:circle 20s infinite linear;
}
.song-description{
    flex-grow:1;
    color:#FCFCFC;
    text-align: center;
    line-height: 2;
    margin-top:20px;
}
.song-description h1{
   font-size: 18px;
   color:#fff;
} 
.song-description p{
    font-size: 14px;
    line-height:24px;
    color:#989898
}
.song-description p.active{color:#fff}
.song-description .lyric{
    height:72px;
    overflow: hidden;
}
.page .links{
    display: flex;
    justify-content:space-around;
    align-items: center;

   
}
.page .links a{
    box-sizing: border-box;
    width:46vw;
    height:40px;
    line-height: 10.7vw;
    border-radius:40px;
    text-align: center;
    text-decoration: none;
    border:1px solid #c72425;
    background:transparent;
    font-size: 18px;
    color:#c72425;
    letter-spacing: 2vw;
    flex-grow:1;
}
.page .links .main{
    background:#c72425;
    color:#fff;
}